body {
    background: linear-gradient(135deg, #fdfbec 0%, #fcfbf5 50%, #fdfae5 100%);
    min-height: 100vh;
    font-family: "laila", sans-serif;
    font-weight: 400;
    font-size: clamp(14px, 1.7vw, 25px);
    font-style: normal;

}

p {
    margin-top: 0;
}

.fotos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 70px;
    padding: 70px;
}

.fotos img {
    width: 100%;
    object-fit: cover;

}

header {
    display: flex;
    flex-direction: column;
    max-width: 800px;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 auto;
}

h1 {
    font-family: 'FatFrank', sans-serif;
    font-size: clamp(40px, 7vw, 100px);
    font-weight: normal;
    color: #fa7aa5;
    letter-spacing: 2px;
    margin-bottom: 10px;
}

@media (max-width: 1000px) {
    .fotos {
        grid-template-columns: 1fr;
    }
}